* {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #070707;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.main-section {
  width: 940px;
  height: auto;
}

.navbar {
  margin: 33px 0 32px 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list-item {
  list-style-type: none;
  color: #828282;
  cursor: pointer;
}

.active-nav-item {
  color: #070707;
}

.main-text {
  display: flex;
  justify-content: space-between;
  margin: 40px 0 40px 0;
  align-items: flex-end;
}

.main-text-name {
  width: 250px;
  font-size: 48px;
}

.main-text-aboutme {
  font-family: "Gilroy-Medium", sans-serif;
  font-weight: 500;
  margin-bottom: 8px;
}

.main-ruanden {
  margin-bottom: 42px;
  margin-right: -36px;
  transform: rotate(-90deg);
}

.ru {
  color: #828282;
}

.name-img {
  margin-bottom: 105px;
  width: 100%;
}

.aboutme-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 506px;
  background-color: #f6f6f6;
}

.aboutme-title {
  font-size: 34px;
  margin-bottom: 24px;
}

.aboutme-pharagraph {
  font-size: 18px;
  font-weight: 500;
}

.skills-section {
  display: flex;
  justify-content: center;
}

.wrap {
  width: 940px;
}

.skills-title {
  display: flex;
  justify-content: center;
  font-size: 34px;
  margin: 91px 0 70px 0;
}

.skills-downtitle {
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.nav-skills {
  margin: 82px 0 110px 0;
}

.list-skills {
  display: flex;
  justify-content: space-between;
}

.list-skills-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 166px;
  height: 205px;
}

.skills-item-text {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
  color: #828282;
}

.skills-star-list img {
  margin: 3px;
}

.skills-img {
  width: 90px;
}

.skills-img-fig {
  width: 58px;
}

.portfolio-section {
  display: flex;
  justify-content: center;
  background-color: #f6f6f6;
}

.portfolio-title {
  display: flex;
  justify-content: center;
  font-size: 34px;
  margin: 112px 0 48px 0;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-text {
  margin: 44px 0 100px 0;
  text-decoration: underline;
  font-weight: 500;
}

.portfolio-img {
  width: 100%;
}

.contact-section {
  display: flex;
  justify-content: center;
}

.wrap-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-title {
  display: flex;
  justify-content: center;
  font-size: 34px;
  margin: 112px 0 20px 0;
}

.contact-downtitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

.contacts-btn {
  background-color: #070707;
  border: 0;
  color: white;
  padding: 12px 20px 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.footer-list {
  width: 342px;
  display: flex;
  justify-content: space-between;
  margin: 86px 0 46px 0;
}

.footer-downtext {
  color: #828282;
  font-size: 14px;
  margin-bottom: 114px;
}

@media (max-width: 768px) {
  .list-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
  }

  .list-skills-item {
    margin-bottom: 60px;
  }

  .main-text {
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    margin-left: 36px;
  }

  .main-ruanden {
    position: relative;
    align-self: flex-end;
    margin-bottom: 42px;
    margin-right: 10px;
    bottom: 32px;
    transform: rotate(-90deg);
  }

  .main-text-aboutme {
    position: relative;
    top: 30px;
  }
}
@media (max-width: 500px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .nav-list-item {
    margin-bottom: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
